body{
    display: flex;
    background-color: #641e1e;
    text-align: center;
    justify-content: center;
}   

.character_name{
    color: #641e1e;
}

.character_house{
    color: #641e1e;
}

.character_actor{
    color: #641e1e;
}

.character_image{
    max-width: 600px;
    object-fit: cover;
    object-position: top;
}

#character{
    width: 50%; min-height: 700px;
    border: 5px;
    border-radius: 30px;
}

.gryffondor{
    background-image: url("images/gryffindor.jpg");
    background-size: cover;
}

.serpentard{
    background-image: url("images/slytherin.jpg");
    background-size: cover;
}

.poufsouffle{
    background-image: url("images/hufflepuff.jpg");
    background-size: cover;
}

.serdaigle{
    background-image: url("images/ravenclaw.jpg");
    background-size: cover;
}

.no_house{
    background-image: url("images/no\ house.jpg");
    background-size: cover;
}